@model SchoolManagment2.Models.Student

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
          
            <div class="form-group mb-2">
                <label asp-for="S_Name" class="control-label"></label>
                <input asp-for="S_Name" class="form-control" />
              
            </div>

            <div class="form-group mb-2">
                <label>Choose your Teacher Name</label>
                <select asp-for="T_Id" asp-items="@(new SelectList(ViewBag.teacher, "T_Id","T_Name"))" class="form-select">
                    <option selected disabled>Select Teacher</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label>Choose your Book Name</label>
                <select asp-for="B_Id" asp-items="@(new SelectList(  ViewBag.book, "B_Id","B_Name"))" class="form-select">
                    <option selected disabled>Select Book</option>
                </select>
            </div>

            <div class="form-group mb-2">
                <label>Choose your Class Name</label>
                <select asp-for="C_Id" class="form-select">
                    <option selected disabled>Select Class</option>
                </select>
            </div>
         

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#B_Id").change(function () {
                var bookId = $(this).val();
                if (bookId !== "") {
                    $.ajax({
                        url: '/Students/GetClassByBook',
                        type: 'GET',
                        data: { bookId: bookId },
                        success: function (data) {
                            console.log(data);
                            $("#C_Id").empty();
                           
                            $.each(data, function (index, classObj) {
                                $("#C_Id").append('<option value="' + classObj.c_Id + '">' + classObj.c_Name + '</option>');
                            });
                            $("#C_Id").prop('disabled', false);
                        }
                    });
                } else {
                    $("#C_Id").empty().prop('disabled', true);
                }
            });
        });
    </script>
}
