@model SchoolManagment2.Models.Class

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group mb-2">
                <label asp-for="C_Name" class="control-label"></label>
                <input asp-for="C_Name" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label>Choose your Book Name</label>
                <select asp-for="B_Id" asp-items="@(new SelectList(ViewBag.book, "B_Id","B_Name"))" class="form-select">
                    <option selected disabled>Select Book</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
